@import '~flex.box';

@import 'helpers';
@import 'mixins';
@import 'element';
@import 'scrollbar';

html,
body {
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

body {
	height: 100%;
	overflow: auto;
	position: absolute;
	width: 100%;
}

* {
	box-sizing: border-box;
	outline: 0;
}

.loading {
	> div {
		background: rgba(255, 255, 255, 0.15) !important;
	}
}

.page {
	&-grid {
		.grid {
			display: grid;
			grid-gap: 20px;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

			@include under-break($break--lg) {
				grid-template-columns: 1fr 1fr 1fr;
			}

			@include under-break($break--md) {
				grid-template-columns: 1fr 1fr;
			}

			@include under-break($break--sm) {
				grid-template-columns: 1fr 1fr;
			}

			@include under-break($break--xs + 1) {
				grid-template-columns: 1fr;
			}
		}
	}

	&-table {
		@include under-break($break--sm) {
			.el-table.responsive-table {
				@include responsive-table(
					(
						1: 'Image',
						2: 'Data',
					),
					false
				);
			}
		}

		&.readonly {
			@include under-break($break--md) {
				.el-table.responsive-table {
					@include responsive-table(
						(
							1: '#',
							2: 'Image',
							3: 'Meta',
							4: 'Date',
							5: 'Boxes',
							6: 'Quantity',
							7: 'Part',
							8: 'Serial',
							9: 'Actions',
						)
					);
				}
			}

			.buttons-group {
				.el-button {
					margin: 0 5px 0 0 !important;
				}
			}
		}
	}
}

@import 'app';
